h1{
    color:darkblue;
}

.hobby, .food{
    font-size:30px;
    color:lightsalmon;
    text-align:right;
    display:flow-root;
}
table{
    background-color: rgb(200, 200, 118);
    border-radius: 50%;
    padding:10px;
    border-collapse:collapse; /*셀 사이의 경계를 한 줄로*/
    margin:auto; /*수평적 가운데 배치*/
}
th, td, tr{
    border: 4px dotted palevioletred; /*테두리 설정 : 두께 종류 색상*/
    padding:10px;
    text-align:center; /*글자 가운데 정렬, 수평*/
}
a:hover{
    color:darkolivegreen;
    text-shadow:5px 5px 5px gray;
}
img{
    width:300px;
    height:auto;
}
caption{
    font-size:24px; 
    /* 글자 크기 */
    font-weight: bold;
    /* 글자 두께 */
    margin-bottom:10px;
}
tfoot{
    /* 이탤릭체 */
    font-style:italic;
    font-weight:bold;
}