body {
    margin: 0;
    padding: 0;
    /* 우리가 보는 화면 전체 */
    height: 100vh;

    /* 가로 세로 중앙 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; 대신 사용할 수 있음 */

    background-color:lightslategrey;
}

.login-container {
    background-color: white;
    padding: 30px;
    /* padding을 하면 background-color도 같이 늘어남 */
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: center;
    align-items: center;
    /* 박스 자체 이동 */
}

h1 {
    color: darkslategrey;
    text-align: center;
    /* 박스 속 글자 요소 자체를 가운데 정렬 */
}

input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;

    border: 1px solid gray;
    border-radius: 5px;
}

#btn {
    width: 100%;
    padding: 10px;
    background-color:lightsteelblue;
    color: #fff;
    border: none;
    border-radius: 5px;

    cursor:pointer;
}

#btn:hover {
    background-color:lightslategrey;
}

.forgot-password {
    text-align: center;
    margin-top: 10px;
}

/* forgot-password에 있는 a 태그 */
.forgot-password a {
    color: lightsteelblue;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}